@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 101 69% 2%;
    --muted: 71 21% 92%;
    --muted-foreground: 71 12% 34%;
    --popover: 101 31% 97%;
    --popover-foreground: 101 69% 1%;
    --card: 101 31% 97%;
    --card-foreground: 101 69% 1%;
    --border: 101 2% 92%;
    --input: 101 2% 92%;
    --primary: 101 69% 86%;
    --primary-foreground: 101 69% 6%;
    --secondary: 71 69% 86%;
    --secondary-foreground: 71 69% 6%;
    --accent: 131 69% 86%;
    --accent-foreground: 131 69% 6%;
    --destructive: 7 84% 27%;
    --destructive-foreground: 7 84% 87%;
    --ring: 101 69% 86%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 101 38% 98%;
    --muted: 71 21% 8%;
    --muted-foreground: 71 12% 66%;
    --popover: 101 44% 2%;
    --popover-foreground: 101 38% 99%;
    --card: 101 44% 2%;
    --card-foreground: 101 38% 99%;
    --border: 101 2% 11%;
    --input: 101 2% 11%;
    --primary: 101 69% 86%;
    --primary-foreground: 101 69% 6%;
    --secondary: 71 69% 86%;
    --secondary-foreground: 71 69% 6%;
    --accent: 131 69% 86%;
    --accent-foreground: 131 69% 6%;
    --destructive: 7 84% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 101 69% 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
    overscroll-behavior: none;
  }
  ::selection {
    background-color: #d2f4c3;
    color: #000;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
